<% @document_title="The Remarkable" %>

<article>
	<header>
		<h1>The Remarkable Photo Blog</h1>
		<span class="subtitle">What is Analog.Cafe and why is it remarkable?</span>
	</header>
	<section>
		<h2>For The Creators:</h2>
		<figure><%= image_tag "template/sardina.jpg" %><figcaption>A plastic film camera. Typical weapon of choice for most contributors to Analog.Cafe.</figcaption></figure>
		<p>Analog.Cafe is more than just a blog. It is the <strong>ultimate publishing platform for the film photography community</strong>.</p>
		<p>Anyone can submit images, photo essays and articles through the beautiful, easy to use web app. No more complicated, ugly forms. <em>Analog Cafe</em> is a publication by the film photography community &mdash; for everyone.</p>
		<p>Featured images are listed in a special database. From there they can be re-published by other contributors in their articles or essays. This gives more exposure to the original photographer and facilitates <strong>effortless collaboration</strong>.</p>
		<p>Every submission goes through a careful editorial process. Together, we build a remarkable and lasting experience for thousands of visitors from around the world.</p>
		<blockquote><p>Anyone can submit images, photo essays and articles through the beautiful, easy to use web app. Featured images are listed in a special database. From there they can be re-published by others. This... facilitates <strong>effortless collaboration</strong>.</p></blockquote>
</article>