<% @document_title="Articles" %>

<section class="motto"><span><q><em>Featured stories and articles</em></q> &#x1F4D6;</span></section>
<a href="#" class="tools"></a>

<div class="header-bleed">
	<%= render "shared/table-of-contents" %>
	<a href="#" class="button">Load More...</a>
</div>