<% @document_title="Photo Essays" %>

<section class="motto"><span><q><em>Curated photo essays photography</em></q> &#x1F391;</span></section>
<a href="#" class="tools"></a>

<div class="header-bleed">
	<%= render "shared/table-of-contents" %>
	<a href="#" class="button">Load More...</a>
</div>