<% @document_title="Home" %>

<section class="motto"><q><em>Film photography, the people and the stories that make it special</em> &#x2615;️</q></section>
<a href="#" class="tools"></a>

<div class="header-bleed">
	<%= render "shared/table-of-contents" %>
	<a href="#" class="button">Load More...</a>
</div>

<script>
	var analogCoffee = document.querySelector('.logo-container');
	analogCoffee.className += " active";
</script>