<% @document_title="Home" %>

<section class="motto"><q><span><em>Film photography, the people and the stories that make it special</em> &#x2615;️</span></q></section>
<div class="header-bleed">
	<%= render "shared/table-of-contents" %>
	<a href="#" class="button">Load More...</a>
</div>