<% @document_title="Submit" %>

<article>
	<header>
		<h1>Submit</h1>
<!-- 
		<span class="subtitle">About Analog.Cafe</span>
 -->
	</header>
<!-- 
	<section>
		<figure class="feature"><%= image_tag "template/grainy-camera.jpg" %><figcaption>Film grain. Dust and scratches. Unexpected results. The dark magic of film shines on Analog.Cafe.</figcaption></figure>
		<h2>For The Creators:</h2>
		<p>Analog.Cafe is more than just a blog. It is the <strong>ultimate publishing platform for the film photography community</strong>.</p>
		<p>Anyone can submit images, photo essays and articles through the beautiful, easy to use web app. No more complicated, ugly forms. <em>Analog Cafe</em> is a publication by the film photography community &mdash; for everyone.</p>
		<p>Featured images are listed in a special database. From there they can be re-published by other contributors in their articles or essays. This gives more exposure to the original photographer and facilitates <strong>effortless collaboration</strong>.</p>
		<p>Every submission goes through a careful editorial process. Together, we build a remarkable and lasting experience for thousands of visitors from around the world.</p>
		<blockquote><p>Anyone can submit images, photo essays and articles through the beautiful, easy to use web app. Featured images are listed in a special database. From there they can be re-published by others. This... facilitates <strong>effortless collaboration</strong>.</p></blockquote>
		<h2>For everyone:</h2>
		<p><em>Analog.Cafe</em> is a collection of images, articles and photo essays. It is a fully curated and edited body of work that draws on the best and most interesting expressions from the film photography community and beyond.</p>
		<p>The best way to really understand <em>Analog.Cafe</em> is to start discovering the work created by its members. Now is a good time:</p>
		<%= link_to index_path, class: 'button' do %>Start Here &#x1F64C;<% end %>
 -->
</article>