<% @document_title="Submit" %>

<article>
	<header>
		<h1>Submit</h1>
		<span class="subtitle">Have your film photography, prose and articles featured on Analog.Cafe!</span>
		<span class="small-caption">Written by <a href="#">dmitrizzle</a> &middot; January 30, 2017</span>
		<div class="controls"><a href="#" class="tools"></a></div>
	</header>
	<section>
		<h2>For The Creators:</h2>
		<p>Analog.Cafe is more than just a blog. It is the <strong>ultimate publishing platform for the film photography community</strong>.</p>
		<blockquote><p>Anyone can submit images, photo essays and articles through the beautiful, easy to use web app. Featured images are listed in a special database. From there they can be re-published by others. This... facilitates <strong>effortless collaboration</strong>.</p></blockquote>
		<p><em>Analog.Cafe</em> is a collection of images, articles and photo essays. It is a fully curated and edited body of work that draws on the best and most interesting expressions from the film photography community and beyond.</p>
</article>