@import "base/sizes";
@import "base/colors";

@import "helpers/mixins";


.motto {
	@include center-block($size-minwidth);
	q {
		text-align: center;
		display: block;
		padding: $size-column--safety * 2 0 $size-column--safety;
		font-size: $size-fontbase--smaller;
		background: $color-background;
	}
	position: relative;
	z-index: z('layer-up') + 1;
}
.tools {
	position: relative;
	z-index: z('layer-up') + 1;
}