@import "base/sizes";
@import "base/colors";

@import "helpers/mixins";

@import "components/table-of-contents";


.motto {
	@include center-block($size-column--maxwidth-m);
	> span {
		text-align: center;
		display: block;
		padding: $size-column--safety * 2 0 $size-column--safety ;
		font-size: $size-fontbase--smaller;
	}
	q {
		background: $color-background;
	}
	position: relative;
	z-index: z('layer-up') + 1;
}
.tools {
	position: relative;
	z-index: z('layer-up') + 1;
	margin: 0 auto;
}