@import "base/sizes";
@import "base/colors";

@import "helpers/mixins";


.motto {
	q {
		@include center-block($size-minwidth);
		text-align: center;
		display: block;
		margin: $size-column--safety auto;
		padding: $size-column--safety;
		font-size: $size-fontbase--smaller;
		span { background: $color-background; }
	}
	position: relative;
	z-index: z('layer-up') + 1;
}