@import "base/sizes";



// blocks
@mixin center-block($width) {
	margin: 0 auto;
	max-width: $width;
}
@mixin center-block--responsive {
	@include center-block($size-column--maxwidth-m);
	@include breakpoint($size-breakpoint-xl) {
		@include center-block($size-column--maxwidth-l);
	}
}	
@mixin text-block($font-size) {
	font-size: $font-size;
	margin: 0;
	padding-top: $size-content-block-spacing;
}
@mixin text-turnicate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin text-coumns {
	-webkit-column-count: 2;
	column-count: 2;
	column-gap: $size-column--safety * 2;
}

// components
@mixin figure-bleed {
	margin-left: -($size-column--safety/ strip-unit($size-fontbase--normal) );
	margin-right: -($size-column--safety/ strip-unit($size-fontbase--normal) );
	width: 100vw;
	max-width: 100vw;
	border-radius: 0;
}
@mixin figure-block {
	font-size: $size-fontbase--normal;
	padding: 0;	
	overflow: hidden;
	margin: 0 0 $size-content-block-spacing;
	
	@include breakpoint($size-breakpoint-s) {
		@include figure-bleed;
	}
	@include breakpoint($size-breakpoint-l) {
		width: 77.5%; 
		margin-left: calc((#{$size-column--maxwidth-m} - 100vw)/3.5);
		margin-right: $size-content-block-spacing;
		float: left;
	}
	@include breakpoint($size-breakpoint-xxl) {
		width: 94%; 
		margin-left: -$size-column--maxwidth-m/2.15;
		margin-right: $size-content-block-spacing;
		float: left;
	}
}
@mixin button-shadow {
	box-shadow: 0 1px 1px rgba($color-foreground, 0.33), 0 0 0 1px rgba($color-foreground, $opacity-least / 2);
}
@mixin card-shadow {
	box-shadow: 0 #{$size-content-block-spacing / 2} #{$size-content-block-spacing * 2} rgba($color-foreground, $opacity-half);
}

// Dynamic font stack and line spacing - depending on whether it's web-safe or loaded
@mixin font-content--stack {
	font-family: Georgia, serif;
	@at-root .fonts-loaded & {
		font-family: Lora, Georgia, serif;
	}
}
@mixin font-content--spacing {
	letter-spacing: 0.0525em;
	.fonts-loaded &, .fonts-loaded-headers & {
		letter-spacing: 0.025em;
	}
}
@mixin font-header--stack {
	font-family: Arial, sans-serif;
	.fonts-loaded &, .fonts-loaded-headers & {
		font-family: 'Exo 2', Arial sans-serif;
	}
}















