$color-brand: #ed236e;
$color-foreground: #2c2c2c;
$color-background: #fff;

$color-foreground--secondary: #23b1ed;
$color-background--highlight: #fff200;

$opacity-most: 	.85;
$opacity-half:	.5;
$opacity-least:	.15;