@import "helpers/functions";



$size-minwidth: 320px;
$breakpoint-to-ems: true;


$size-fontbase-l: 	24px;
$size-fontbase-m: 	22px;
$size-fontbase-s: 	20px;
$size-fontbase-xs: 	18px;

$size-fontbase--larger: 	3em;
$size-fontbase--normal: 	1em;
$size-fontbase--smaller: 	.75em;


$size-column--maxwidth-m: 750px;
$size-column--maxwidth-l: 920px;
$size-column--safety: 		1.5em;
$size-column--safety-min: strip-unit($size-column--safety) * $size-fontbase-m;

$size-content-block-spacing: 	1em;


$size-breakpoint-xxl: 1600px;
$size-breakpoint-xl: 	1320px;
$size-breakpoint-l: 	1080px;

$size-breakpoint-m: 	0		$size-column--maxwidth-l;
$size-breakpoint-s: 	0 	$size-column--maxwidth-m + strip-unit($size-column--safety) * $size-fontbase-s;
$size-breakpoint-xs: 	0 	$size-minwidth;

$size-corner-small: .25em;
$size-corner-med:		 .5em;


$size-logo-ratio: 1701/200;