@import "base/colors";
@import "base/sizes";

@import "helpers/mixins";
@import "helpers/functions";


// constant font variables
$font-content--weight: 400;
$font-header--weight: 600;


// standard list of all available typography levels (from header to small type)
$typography-levels: (
	/* 1 */	'h1',
	/* 2 */	'h2',
	/* 3 */	'h3, .subtitle',
	/* 4 */	'h4',
	/* 5 */	'p',
	/* 6 */	'.small-caption'
);

// function for easiest selection of a typography level
@function A($level) {
  @return nth($typography-levels, $level);
}

// Dynamic font stack and line spacing - depending on whether it's web-safe or loaded
@mixin font-line-content { line-height: 1.75em; }
@mixin font-line-header {
	line-height: 0.99999999em;
	.fonts-loaded &, .fonts-loaded-headers & { line-height: 1em; }
}
@mixin font-line-caption {
	line-height: 1.631em; .fonts-loaded & { line-height: 1.5em; }
}

@mixin font-content--stack {
	font-family: Georgia, serif;
	letter-spacing: 0.05em;
	@include font-line-content;
	.fonts-loaded & { font-family: Lora, Georgia, serif; letter-spacing: 0.025em; }
}
@mixin font-header--stack {
	font-family: Arial, sans-serif;
	letter-spacing: 0.005em;
	@include font-line-header;
	.fonts-loaded &, .fonts-loaded-headers & {
		font-family: 'Exo 2', Arial sans-serif;
		letter-spacing: 0.025em;
	}
}
@mixin font-caption--stack {
	font-size: #{$size-fontbase--smaller - 0.05em};
	@include font-line-caption;
	.fonts-loaded & { font-size: $size-fontbase--smaller; }
}


#{A(1)} {
	@include text-block($size-fontbase--larger);
	@include font-header--stack;
	font-weight: $font-header--weight;
	-webkit-hyphens: auto;
	hyphens: auto;
	// text-transform: capitalize;
}
#{A(2)} {
	@extend #{A(1)};
	font-size: 2em;	
}
#{A(3)} {
	@extend #{A(1)};
	font-size: 1.5em;
	padding-top: 0;
	display: block;
}
#{A(4)} {
	font-weight: $font-content--weight;
	@extend #{A(6)};
}
#{A(5)} {
	font-size: $size-fontbase--normal;
	display: inline;
	&::after, &:first-of-type::before {
		display: block;
		height: $size-fontbase--normal;
		content: "";
	}
}
#{A(6)} {
	@include font-caption--stack;
	font-variant: small-caps;
}






blockquote {
	position: relative;
	margin: $size-content-block-spacing -#{$size-column--safety};
	overflow: hidden;
  clear: both;
	padding: $size-column--safety * 4 $size-column--safety * 2;
	border-top: $size-fontbase--normal/2 * strip-unit($size-fontbase--smaller) solid;
	border-bottom: $size-fontbase--normal / 2 * strip-unit($size-fontbase--smaller) solid;
	@include breakpoint($size-breakpoint-s){
		padding: $size-column--safety * 4 $size-column--safety;
	}
	&:not(.short) p {
		@include breakpoint($size-breakpoint-l){ @include text-coumns; }
		@media print { @include text-coumns; }
	}
	& p {
		display: block;
		font-size: $size-fontbase--smaller;
		font-style: italic;
		&::before, &::after, &:first-of-type::before { display: none !important; }
		&:first-of-type::first-letter {
			font-size: $size-fontbase--larger * 2;
			font-style: normal;
			font-weight: 700;
			float: left;
			margin: .3em .075em .075em 0;
			::selection { background: $color-background--highlight; }
		}		
	}
	&::before {
		content: "\201C";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: $size-fontbase--larger * 2;
    opacity: $opacity-least;
  }
  &::after {
		content: "\201D";
    display: block;
    position: absolute;
    bottom: - $size-content-block-spacing / 2;
    right: 0;
    font-size: $size-fontbase--larger * 2;
    opacity: $opacity-least;
  }
  cite {
  	@extend #{A(6)};
  	font-style: normal;
    position: absolute;
    bottom: $size-column--safety;
    max-height: $size-column--safety * 4;
    overflow: hidden;
    margin-left: - $size-column--safety;
    &::before { content: "\2014\0020"; }
  }
}

::selection { background: $color-background--highlight; }



// exceptions:
main article header .small-caption {
	font-size: $size-fontbase--smaller * strip-unit($size-fontbase--normal) ;
}
