@import "base/colors";
@import "base/sizes";

@import "helpers/mixins";

$font-content: Lora, serif;
$font-content--weight: 400;
$font-content--spacing: 0.033em;
$font-content--line: 1.75em;

$font-header: 'Exo 2', sans-serif;
$font-header--weight: 600;


.small-caption {
	font-size: .75em;
	font-variant: small-caps;
}
h1 {
	@include text-block(3em);
	font-family: $font-header;
	font-weight: $font-header--weight;
	color: $color-brand;
}
h2 {
	@extend h1;
	color: $color-foreground;
	font-size: 2em;	
}
h3 {
	@extend h1;
	color: $color-foreground;
	font-size: 1.5em;
	padding-top: 0;
}
h4 {
	font-family: $font-content;
	font-weight: $font-content--weight;
	@extend .small-caption;
}


p {
	font-size: $size-content-block--font;
	line-height: $font-content--line;
	display: inline;
}
p::after {
	display: block;
	height: $size-content-block--font;
	content: "";
}


::selection {
	background: $color-background--highlight;
	color: $color-foreground;
	text-shadow: 1px 0 0;
}