<nav>
	<ul>
		<li><span><a href="#">Articles</a></span></li>
		<li><span><a href="#">Photo Essays</a></span></li>
		<li class="nav-center">
			<div class="logo-container"><a href="/" class="button"><%= inline_svg "branding/logo-crop.svg", class: "logo", desc: "Analog.Cafe logo" %></a></div>
		</li>
		<li><span><a href="#">My Favorites</a></span></li>
		<li><span><a href="#">Submit</a></span></li>
	</ul>
</nav>