<nav>
	<ul>
		<li><a href="#"><span>Articles</span></a></li>
		<li><a href="#"><span>Photo Essays</span></a></li>
		<li class="nav-center">
			<div class="logo-container">
				<h1 title="Analog.Cafe">
					<span>A</span>
					<span>n</span>
					<span>a</span>
					<span>l</span>
					<span>o</span>
					<span>g</span>
					<span>.</span>
					<span>C</span>
					<span>a</span>
					<span>f</span>
					<span>e</span>
				</h1>
				<a href="/" class="button"><%= inline_svg "branding/logo-crop.svg", class: "logo", desc: "Analog.Cafe logo" %></a>
			</div>
		</li>
		<li class="badge-sticker"><a href="#"><span>My Favorites</span><span class="badge"></span></a></li>
		<li><a href="#"><span>Submit</span><span class="badge"></span></a></li>
	</ul>
</nav>