<% @title="Home" %>
<article>
	<section>
		<h1>The <a href="https://www.artsocket.com/mag/the-magic-of-animation/">Magic</a> of Animation</h1>
		<h3>An extract of a <a href="https://www.artsocket.com/mag/the-magic-of-animation/">post</a> on ArtSocket.com used as an example</h3>
		<p>The things that we see go beyond being merely projected onto the back of our eyes. It all has to go somewhere. Before we even get to react to the images a part of our brain turns everything into a visual story that has a meaning. Without this crucial process, humans <a href="https://en.wikipedia.org/wiki/Visual_agnosia#Symptoms">would not be able to</a> distinguish between a child and a fire hydrant. Even the simplest things like lines and squares would not exist unless the brain can find them in the matrix of dots that our eyes transmit...</p>
		<a href="#" class="button">Button</a>
		<aside class="card">
			<header>
				<h3>Card title</h3>
				<a href="#">&#10005;</a>
			</header>
			<figure style="background-image: url(https://www.artsocket.com/images/art/L_Let-It-Go.jpg)">
			</figure>
			<section>
				<p>This is a card. It contains additional info, options & contextual menus.</p>
			</section>
			<a href="#" class="button">Button</a>
		</aside>
		<h2>Animation & I</h2>
		<p>Before I got involved with making websites and even photography animation was my primary method of expression. Back in the 90's my elementary school friends and I got pirated copies of 3D Studio MAX to play with. Back then computers were a novelty so just seeing things move on a screen was cool as fuck. Everything we created was obviously garbage but this process started an itch. An itch to create and experiment that made me the man I am today.</p>
		<figure>
			<img alt="This is not a pipe." src="https://www.artsocket.com/images/content/mag/the-magic-of-animation_this-is-not-a-pipe.jpg">
			<figcaption>"This is not a pipe" is a famous play on reality by <a href="https://en.wikipedia.org/wiki/The_Treachery_of_Images">René Magritte</a>. He was trying to say that the image he drew and most would refer to as a "pipe" isn't. It's just a drawing or a collection of color pigments on a piece of paper. Can't smoke that.</figcaption>
		</figure>
		<p>A few years later I had to leave everything, everyone, behind to move with my family from Russia to Canada. My hobbies varied considerably since the days of playing with ancient software. Most of the time I just wanted to speak and understand proper English and fit in somehow. Later I decided that I wanted to pick up chicks, so skateboarding and electric guitars took over.</p>
		<p>Life isn't static. Neither is our perception of it. Motion, just like the objects (which are dots before they become things) has to be understood. If we fail, we can no longer live a healthy life as everything turns into a slideshow. The horrors of an old computer and a demanding video game become a reality.<a href="#" class="button">Button</a></p>
	</section>
</article>
