@import "base/typography";
@import "base/colors";
@import "base/sizes";

@import "components/links";
@import "components/images";

@mixin center-block($width) {
	margin: 0 auto;
	max-width: $width;
}



body {
	color: $color-foreground;
	font-family: $font-content;
	
	min-width: $size-minwidth;
	font-size: $size-font-m;
	@include breakpoint($size-breakpoint-xl) {
		font-size: $size-font-xl;
	}
	@include breakpoint($size-breakpoint-xs) {
		font-size: $size-font-xs;
	}
	
	letter-spacing: $font-content--spacing;
	font-weight: $font-content--weight;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
main {
	font-size: $size-reset;
	background-color: $color-background;
}
main article section {
	@include center-block($size-column--maxwidth-m);
	@include breakpoint($size-breakpoint-xl) {
		@include center-block($size-column--maxwidth-l);
	}
	padding: 0 $size-column--safety;
}