@import "base/sizes";
@import "base/colors";
@import "base/typography";

@import "helpers/mixins";


@mixin index-cell-figure {
	background-size: cover;
	background-position: center;
}
.index {
	position: absolute;
	top: 0;
	width: 100%;
	
	li {
		display: table;
		list-style: none;
		width: 100%;
		
		& .index-figure {
			display: none;
			@include breakpoint($size-breakpoint-l){
				display: table-cell;
			}
			vertical-align: bottom;
			width: 5em;
			& > a {
				@include index-cell-figure;
				display: block;
				width: calc(100% - #{$size-content-block-spacing});
				height: $font-content--line * strip-unit($size-fontbase--normal) * 4;
				margin-bottom: $font-content--spacing/2;
			}
		}
		& .index-cover {
			width: 33.333%;
			display: table-cell;
			@include index-cell-figure;
		}
		
		
		& .index-summary {
			display: table-cell;
			vertical-align: bottom;
			padding: $size-column--safety * 4 0 0 0;
			& > a {
				text-decoration: none;
				&:active h2 { background: $color-background--highlight; }
			}
			& h2, & h3 { display: inline-block; }
			h3 { color: $color-brand; }
			.small-caption { display: block; }
		}
		&:first-child .index-summary { padding-top: 15em;	}
	}	
	ul {
		@include center-block($size-breakpoint-xxl);
		padding: 0 0 0 $size-column--safety;
		position: relative;
		&::after {
			content: "";
			background-image: inline_svg("components/shape-triangle--right.svg", ( fillcolor: #{$color-background} ));
			background-size: 100%;
			display: block;
			position: absolute;
			z-index: z('layer-up');
			top: 0;
			right: 0;
			height: 100%;
			width: calc(33.333% - #{$size-content-block-spacing/2} + 1px);
		}
	}
}