@import "base/colors";
@import "base/sizes";
@import "base/typography";
@import "base/selectors";

@import "helpers/mixins";


$nav-logo-width: $size-fontbase--larger/1.5;
body > nav {
	position: relative;
	z-index: z('menu');
	
	padding-top: $size-fontbase--larger/1.2;
	padding-bottom: $size-fontbase--larger/2;
	
	.logo-container {
		position: fixed;
		top: $size-column--safety/2;
		z-index: 10;
		padding: $size-content-block-spacing;
		display: block;
		border-radius: $size-fontbase--larger;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		
		background: rgba($color-background, $opacity-half);
		box-shadow: 0 0 0 1px $color-foreground;
		
		
		h1 {
			font-size: .35em;
			position: absolute;
			transform-origin: 4.275em 4.225em;
			transform: rotate(80deg);
			color: $color-foreground;
			z-index: z('layer-up');
			span {
				display: block;
				position: absolute;
				width: 1em;
				height: 1em;
				left: $nav-logo-width * 2;
				top: $nav-logo-width * 5;
				text-align: center;
				transform-origin: 0.5em -5.5em;
				@for $i from 0 to 11 {
					&:nth-child(#{$i + 1}) { transform: rotate( #{-$i * 8.75}deg ); }
				}    
    
			}
		}
		.button {
			width: $nav-logo-width;
			height: $nav-logo-width;
			line-height: $nav-logo-width;
			overflow: hidden;
			margin: 0 auto;
			padding: $size-content-block-spacing/2;
			border-radius: $size-fontbase--larger;
			background: $color-brand;
			text-align: center;
			box-shadow: none;
			#{$tap-this} {
				box-shadow: 0 0 0 $size-content-block-spacing $color-background--highlight;
				& .logo path {
					fill: $color-background--highlight;
				}
			}
			& .logo {
				max-height: 100%;
				max-width: 100%;
				& path {
					fill: $color-background;
				}
			}	
		}
		&.-view {
			box-shadow: 0 0 0 1px $color-brand;
			h1 { color: $color-brand; }
		}
			
			
	}
	
	& > ul {
		padding: 0;
		display: table;
		margin: 0 auto;
		& li {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: $nav-logo-width * 5;
			&.nav-center { width: $nav-logo-width + $size-column--safety * 2; padding: $size-content-block-spacing; }
			&:not(.nav-center) { width: 6em; height: $font-content--line; }
			@include breakpoint($size-breakpoint-s){
				text-align: left;
				& span, &:not(.badge-sticker) span.badge { display: none; }
			}
			
			& a {
				font-size: $size-fontbase--smaller;
				background: $color-background; 
				text-decoration: none;
				position: relative;
				&.-view {
					&::before {
						content: "";
						width: 110%;
						left: -5%;
						height: 1px;
						bottom: -5px;
						background: $color-brand;
						position: absolute;
					}
				}
			}
			
			& .badge {
				display: inline-block;
				width: $size-corner-med;
				height: $size-corner-med;
				border-radius: $size-corner-med;
				margin-bottom: $size-corner-med;
				background: $color-brand;
				@include breakpoint($size-breakpoint-s){
					position: fixed;
					margin-top: -#{$size-corner-med};
				}
			}

		}
	}
}