@import "base/selectors";


.header-bleed {
	position: absolute;
	top: 0;
	width: 100%;
	.table-of-contents:first-child li:first-child {
		padding-top: 12em;
		.toc-cover div { top: -16.5em; }
		#{$tappable-and} > a:active::after { top: 12em; }
	}
}