@import "base/colors";
@import "base/sizes";
@import "base/typography";
@import "helpers/mixins";

.button {
	@include reset-fontsize(strip-unit($size-content-block--font) * strip-unit($size-reset));
	@include center-block($size-minwidth);
	
	text-decoration: none;
	background: $color-brand;
	color: $color-background;
	font-family: $font-header;
	font-weight: $font-header--weight;
	box-shadow: 0 -1px 0 darken($color-brand, 10%) inset;
	
	display: block;
	text-align: center;
	line-height: $font-content--line;
	border-radius: $size-corner-med;
	padding: $size-content-block-spacing/3 0;
	margin-top: $size-content-block-spacing;
	margin-bottom: $size-content-block-spacing;
	
	&:active {
		background: $color-foreground;
		box-shadow: 0 1px 0 lighten($color-foreground, 20%) inset;
		color: $color-background;
	}
	
	@include breakpoint($size-breakpoint-xs) {
		border-radius: 0;
		max-width: 100%;
		padding: $size-content-block-spacing/1.5 0;
	}
	.card & {
		@include figure--full-bleed();
		border-radius: 0;
		max-width: 100%;
		margin: 0;
	}
}
@include breakpoint($size-breakpoint-xs) {
	section .button {
			@include figure--full-bleed();
	}
}