@import "base/colors";
@import "base/sizes";
@import "base/typography";

@import "helpers/mixins";



.card {
	display: block;
	overflow: hidden;
	border-radius: $size-corner-med;
	@include center-block($size-minwidth);
	@include card-shadow();
	
	@include breakpoint($size-breakpoint-xs){
		border-radius: 0;
	}
	
	& header {
		border-radius: $size-corner-med $size-corner-med 0 0;
		padding: $size-content-block-spacing/4 $size-content-block-spacing;
		padding-right: $size-content-block-spacing * 3;
		background: $color-foreground;
		color: $color-background;
		z-index: 1;
		position: relative;
		@include button-shadow();
		& h3 {
			font-size: $size-fontbase--normal;
			color: $color-background;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}



// exceptions:
@include breakpoint($size-breakpoint-xs){
	main article section .card {
		width: 100vw;
		margin-left: -$size-column--safety;
	}
}