@import "base/colors";
@import "base/sizes";
@import "base/typography";
@import "helpers/mixins";

.card {
	@include center-block($size-minwidth);
	
	display: block;
	overflow: hidden;
	border-radius: $size-corner-med*2;
	box-shadow: 0 0 1px rgba($color-foreground, .5);
}
.card header {
	padding: $size-content-block-spacing/4 $size-content-block-spacing;
	padding-right: $size-content-block-spacing * 3;
	box-shadow: 0 1px rgba($color-foreground, .15);
	background: rgba($color-background, .95);
	z-index: 1;
  position: relative;
}
.card header h3 {
	color: $color-foreground;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card header a {
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: $size-content-block-spacing/1.75;
}