@import "base/colors";
@import "base/sizes";
@import "helpers/functions";
@import "helpers/mixins";


figure {
	& img {
		width: 100%;
		display: block;
	}
	& figcaption {
		@extend #{A(6)};
	
		@include breakpoint($size-breakpoint-s) {
			padding: 0 $size-column--safety;
		}
		.feature & {
			padding: 0 $size-column--safety;
		}
	}
	
	article & {
		font-size: $size-content-block--font;
		padding: 0;	
		overflow: hidden;
		margin: 0 0 $size-content-block-spacing;
	
		@include breakpoint($size-breakpoint-s) {
			@include figure-bleed();
		}
		@include breakpoint($size-breakpoint-l) {
			width: 85%; 
			margin-left: calc((#{$size-column--maxwidth-m} - 100vw)/3.75);
			margin-right: $size-content-block-spacing;
			float: left;
		}
		@include breakpoint($size-breakpoint-xxl) {
			width: 94%; 
			margin-left: -$size-column--maxwidth-m/2.75;
			margin-right: $size-content-block-spacing;
			float: left;
		}
		&.feature {
			@include figure-bleed();
			@include breakpoint($size-column--maxwidth-m + 50px) {
				margin-left: calc((#{$size-column--maxwidth-m} - 100vw)/2);
				& figcaption {
					@include center-block--responsive();
				}
			}
			@include breakpoint($size-breakpoint-xl) {
				margin-left: calc((#{$size-column--maxwidth-l} - 100vw)/2);
			}
			float: none;
		}
	}
	
	.card & {
		margin: 0;
		background-size: cover;
		background-position: center;
		font-size: $size-content-block--font;
		overflow: visible;
    float: none;
    width: 100%;
		& img {
			margin-top: -$size-content-block-spacing*2;
		}
		& figcaption {
			@extend #{A(6)};
			background: $color-background;
			padding: $size-column--safety;
		}
	}
}


