@import "base/colors";
@import "base/sizes";
@import "base/typography";

@import "helpers/functions";
@import "helpers/mixins";


$figcaption-breakpoint: $size-column--maxwidth-m + $size-column--safety-min * 2;
$figcaption-padding: $size-column--safety / strip-unit($size-fontbase--smaller);

figure {
	& img {
		width: 100%;
		display: block;
	}
	& figcaption {
		@extend #{A(6)};
		padding: $figcaption-padding;
		border-bottom: $size-fontbase--normal/2 solid;
	}
	article section > & {
		@include figure-block;
		&:not(.feature):first-of-type {
			padding-top: $size-fontbase--normal;
			@include breakpoint($size-breakpoint-s) {
				padding-top: 0;
			}
		}
		&.feature {
			@include figure-bleed;
			@include breakpoint($figcaption-breakpoint) {
				margin-left: calc((#{$size-column--maxwidth-m} - 100vw)/2);
			}
			@include breakpoint($size-breakpoint-xl) {
				margin-left: calc((#{$size-column--maxwidth-l} - 100vw)/2);
			}
			float: none;
			border:none;
			& figcaption {
				@include breakpoint($figcaption-breakpoint) {
					@include center-block--responsive;
				}
			}
		}
	}
	
	.card & {
		margin: 0;
		background-size: cover;
		background-position: center;
		font-size: $size-fontbase--normal;
		overflow: visible;
    float: none;
    width: 100%;
		& figcaption {
			@extend #{A(6)};
			background: $color-background;
		}
	}
	
}


