@import "base/colors";
@import "base/typography";



a {
	color: inherit;
	text-decoration: underline;
	body:not(.scrolling) &:active {
		background: $color-background--highlight;
		color: $color-foreground;
	}
}