@import "base/colors";
@import "base/typography";



a {
	color: inherit;
	text-decoration: underline;
	#{$tappable-and}:active {
		background: $color-background--highlight;
		color: $color-foreground;
	}
}