@import "base/colors";

a {
	color: inherit;
	text-decoration: underline;
	word-wrap: break-word;
	&:active {
		color: $color-foreground;
	}
}

p a {
	@extend a;
	background: rgba($color-foreground, .05);
	padding: .15em .25em;
	border-radius: $size-corner-small;
}
p a:active {
  background: $color-foreground;
	color: $color-background;
}