@import "base/sizes";
@import "base/colors";
@import "base/typography";

@import "helpers/mixins";
@import "helpers/functions";
@import "components/figures";


$toc-cover-width: 33%;
$toc-cover-width--shim: calc(#{$toc-cover-width} - #{$size-content-block-spacing} - 5px);
$toc-summary-figure--width: 5em;
$toc-summary-figure--height: 9em;
$toc-breakpoint: 0 $size-breakpoint-l;

@mixin toc-fill-figure {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
@mixin toc-cover-dimensions {
	display: block;
	content: "";
	width: $toc-cover-width--shim;
	z-index: z('layer-up');
	pointer-events: none;
	@include toc-fill-figure;
	@include breakpoint($toc-breakpoint){ display: none; }
}


.table-of-contents {
	ul {
		@include center-block($size-breakpoint-xxl);
		padding: 0;
		position: relative;
		&::after {
			@include toc-cover-dimensions;
			filter: drop-shadow(1px 0 0 rgba($color-foreground, $opacity-least));
			background-image: inline_svg("components/mask-jagged-triangles.svg", ( fillcolor: #{$color-background} ));
			background-size: 100%;
		}
	}
	li {
		display: block;
		list-style: none;
		width: 100%;
		overflow: hidden;
		position: relative;
		& > a {
			display: table;
			width: 100%;
			text-decoration: none;
			padding: $size-column--safety * 3 0 $size-content-block-spacing $size-column--safety;
			@include breakpoint($toc-breakpoint){
				width: calc(100% - #{$size-column--safety});
			}
			@include breakpoint(0 $size-minwidth * 2) {
				padding-left: 0;
				width: 100%;
			}
			#{$tap-this} {
				h2 { background: 0 0; }
				&::after {
					@include toc-cover-dimensions;
					z-index: z('layer-up') + 1;
					background: rgba($color-background--highlight, $opacity-most);
				}
			}
			&::before {
				display: block;
				content: "";
				z-index: z('layer-up') + 1;
				@include toc-fill-figure;
				top: initial;
				height: 1px;
				width: 100%;
				pointer-events: none;
				background: rgba($color-foreground, $opacity-least/2);
			}
			#{$tap-this}::before { visibility: hidden; }
		}
		& .toc-summary {
			display: table-cell;
			position: relative;
			vertical-align: bottom;
			padding: 0 $size-column--safety 0 0;
			& > figure {
				float: left;
				width: $toc-summary-figure--width;
				height: $toc-summary-figure--height;
				margin: 0 $size-content-block-spacing 0 0;
				overflow: hidden;
				& > img {
					height: 120%;
					width: auto;
					margin-left: -50%;
				}	
				@include breakpoint(0 $size-minwidth * 2) {
					margin-top: $size-content-block-spacing / 2 + .1em;
					margin-bottom: $size-content-block-spacing;
				}
			}
			& #{A(2)} {
				padding: 0;
				margin-top: -0.3em;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				@include breakpoint(0 $size-minwidth * 2) {
					white-space: normal;
				}
			}
			& p {
				$toc-paragrah-line-height: $font-content--line * strip-unit($size-fontbase--smaller);
				@extend #{A(4)};
				display: block;
				margin: 0;
				font-size: $size-fontbase--smaller;
				line-height: #{$toc-paragrah-line-height};
				height: $toc-paragrah-line-height * 3;
				margin-bottom: 1.15em;
				overflow: hidden;
				max-width: $size-column--maxwidth-l;
				&::after, &::before { display: none; }
				@include breakpoint(0 $size-minwidth * 2) {
					height: auto;
					overflow: visible;
				}				
			}
			@include breakpoint(0 $size-minwidth * 2) {
				display: block;
				width: calc(100% - #{$size-column--safety * 2});
				padding: 0 $size-column--safety;
			}
		}
		& .toc-cover {
			display: table-cell;
			@include breakpoint($toc-breakpoint){ display: none; }
			width: $toc-cover-width;
			position: relative;
			div {
				background-size: cover;
				background-position: center;
				position: absolute;
				top: -#{$size-column--safety * 3};
				width: 100%;
				bottom: -#{$size-content-block-spacing};
			}
		}
		.toc-info {
			line-height: $font-content--line * .7142857143;
			z-index: z('layer-up') + 1;
			margin: 0;
			float: left;
			span {
				margin: 0;
				display: block;
				color: $color-brand;
				font-family: $font-header;
				font-weight: $font-header--weight;
			}
			em {
				font-size: $size-fontbase--smaller * .8235294118;
				display: block;
				font-weight: $font-content--weight;
			}
			@include breakpoint(0 $size-minwidth * 2) {
				float: none;
				clear: both;
				text-align: center;
			}
			@include breakpoint(0 $size-minwidth) {
				text-align: left;
			}
		}
		&.feature {
			& > a {
				padding: 0;
				margin: 0;
				z-index: z('layer-up') + 1;
				position: relative;
				width: 100%;
				#{$tap-this} {
					& .toc-summary { background: $color-background--highlight; }
					&::after { display: none; }
				}
				&::before { display: none; }
			}
			@include breakpoint($size-breakpoint-xxl) {
				overflow: visible;
				& > a {
					border-radius: $size-corner-med;
					overflow: hidden;
					@include card-shadow;
					margin: $size-content-block-spacing 0;
				}
			}
			& .toc-summary {
				width: 100%;
				padding: 0 0 $size-column--safety;
				border-bottom: 1px solid rgba($color-foreground, $opacity-least/2);
 				background: $color-background;
				& > figure {
					float: none;
					width: 100%;
					margin: 0;
					overflow: visible;
					height: auto;
					padding-bottom: $size-column--safety;
					& > img {
						height: auto;
						width: 100%;
						margin: 0;
					}
				}
				& #{A(2)} { text-align: center; }
				p {
					@include figure-figcaption;
 					@include figure-figcaption--feature;
 					max-width: 100%;
				}
				.toc-info {
					float: none;
					text-align: center;
				}
			}
 			& .toc-cover { display: none; }
 		}
	}
}