@import "base/sizes";
@import "base/colors";
@import "base/typography";

@import "helpers/mixins";
@import "helpers/functions";
@import "components/figures";


$toc-cover-width: 33%;
$toc-cover-width--shim: calc(#{$toc-cover-width} + 5px);
$toc-summary-figure--width: 5em;
$toc-summary-figure--height: 9em;
$toc-breakpoint-m: 0 $size-breakpoint-l;
$toc-breakpoint-s: 0 $size-minwidth * 2;

@mixin toc-fill-figure {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
@mixin toc-cover-dimensions {
	display: block;
	content: "";
	width: $toc-cover-width--shim;
	z-index: z('layer-up');
	pointer-events: none;
	@include toc-fill-figure;
	@include breakpoint($toc-breakpoint-m){ display: none; }
}


.table-of-contents {
	@include center-block($size-breakpoint-xxl);
	padding: 0;
	position: relative;
	&::after {
		@include toc-cover-dimensions;
		filter: drop-shadow(1px 0 0 rgba($color-foreground, $opacity-least));
		background-image: inline_svg("components/mask-jagged-triangles.svg", ( fillcolor: #{$color-background} ));
		background-size: 100%;
	}
	li {
		display: block;
		list-style: none;
 		overflow: hidden;
 		position: relative;
		& > a {
			display: flex;
			width: 100%;
			text-decoration: none;
			@include breakpoint($toc-breakpoint-s) {
				width: 100%;
			}
			#{$tap-this} {
				h2 { background: 0 0; }
				&::after {
					@include toc-cover-dimensions;
					z-index: z('layer-up') + 1;
					background: rgba($color-background--highlight, $opacity-most);
				}
			}
			&::before {
				display: block;
				content: "";
				z-index: z('layer-up') + 1;
				@include toc-fill-figure;
				top: initial;
				height: 1px;
				width: 100%;
				pointer-events: none;
				background: rgba($color-foreground, $opacity-least/2);
			}
			#{$tap-this}::before { visibility: hidden; }
		}
		& > .toc-favorite {
			position: absolute;
			left: $toc-summary-figure--width / 2 + $size-column--safety / 2;
			bottom: $toc-summary-figure--height + $size-content-block-spacing * .25;
			filter: drop-shadow(0 1px 0 rgba($color-foreground, $opacity-half));
			z-index: z('layer-up');
			@include breakpoint($toc-breakpoint-s) {
				bottom: initial;
				top: $size-column--safety * 3;
			}
		}
		& .toc-summary {
			padding: $size-column--safety * 3 $size-column--safety $size-content-block-spacing $size-column--safety;
			letter-spacing: initial;
			& > figure {
				float: left;
				width: $toc-summary-figure--width;
				height: $toc-summary-figure--height;
				margin: 0 $size-content-block-spacing 0 0;
				overflow: hidden;
				& > img {
					height: 120%;
					width: auto;
					margin-left: -50%;
				}	
				@include breakpoint($toc-breakpoint-s) {
					margin-top: $size-content-block-spacing / 2 + .1em;
					margin-bottom: 0;
				}
			}
			& #{A(2)} {
				padding: 0 0 .25em;
				margin-top: -0.2em;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				@include breakpoint($toc-breakpoint-s) {
					white-space: normal;
					margin-top: 0.15em;
				}
			}
			& p {
				@extend #{A(4)};
				display: block;
				margin: 0;
				//font-size: $size-fontbase--smaller;
				//line-height: #{$toc-paragrah-line-height};
				
				
				height: #{1.5em * 3 - 0.2em};
				//height: $toc-paragrah-line-height * 3;
				
				
				
				margin-bottom: 1.15em;
				overflow: hidden;
				max-width: $size-column--maxwidth-m;
				text-align: justify;
				&::after, &::before { display: none; }
				@include breakpoint($toc-breakpoint-s) {
					height: auto;
					overflow: visible;
					margin-top: .3em;
					margin-bottom: 0;
				}				
			}
		}
		& .toc-cover {
			@include breakpoint($toc-breakpoint-m){ display: none; }
			min-width: $toc-cover-width;
			background-size: cover;
			background-position: center;
			margin: 0 0 0 auto;
		}
		.toc-info {
			//line-height: $font-content--line * .7142857143;
 			min-width: 20em;
			span {
				margin: 0;
				display: block;
				color: $color-brand;
				@include font-header--stack;
				font-weight: $font-header--weight;
			}
			em {
				//font-size: $size-fontbase--smaller * .8235294118;
				display: block;
				font-weight: $font-content--weight;
			}
			@include breakpoint($toc-breakpoint-s) {
 				width: calc(100vw - #{ $size-column--safety * 2 });
 				min-width: auto;
				float: none;
				clear: both;
				text-align: center;
				padding-top: $size-column--safety;
			}
			@include breakpoint(0 $size-minwidth) {
				text-align: left;
			}
		}
		@include breakpoint($size-breakpoint-xxl) {
		  &:not(.feature){
		  	box-shadow: $size-fontbase--normal/2 0;
		  }
		}
		&.feature {
			& > a {
				padding: 0;
				margin: 0;
				z-index: z('layer-up') + 1;
				position: relative;
				width: 100%;
				#{$tap-this} {
					& .toc-summary { background: $color-background--highlight; }
					&::after { display: none; }
				}
				&::before { display: none; }
			}
			@include breakpoint($size-breakpoint-xxl) {
				overflow: visible;
				& > a {
					border-radius: $size-corner-med;
					overflow: hidden;
					@include card-shadow;
					margin: $size-content-block-spacing 0;
				}
			}
			& .toc-summary {
				width: 100%;
				padding: 0 0 $size-column--safety;
				border-bottom: 1px solid rgba($color-foreground, $opacity-least/2);
 				background: $color-background;
				& > figure {
					float: none;
					width: 100%;
					margin: 0;
					overflow: visible;
					height: auto;
					padding-bottom: $size-column--safety;
					& > img {
						height: auto;
						width: 100%;
						margin: 0;
					}
				}
				& #{A(2)} { text-align: center; }
				& p {
					@include figure-figcaption;
 					@include figure-figcaption--feature;
 					max-width: 100%;
 					@include breakpoint($toc-breakpoint-m) { margin-bottom: 0; }
				}
				.toc-info {
					float: none;
					text-align: center;
					padding-top: $size-column--safety;
				}
			}
 			& .toc-cover { display: none; }
 		}
	}
}