@import "base/sizes";
@import "base/colors";
@import "base/typography";

@import "helpers/mixins";
@import "helpers/functions";
@import "components/figures";


$toc-cover-width: 33%;
$toc-cover-width--shim: calc(#{$toc-cover-width} - #{$size-content-block-spacing} - 5px);
$toc-summary-figure--width: 5em;
$toc-summary-figure--height: 8em;

@mixin toc-fill-figure {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
@mixin toc-cover-dimensions {
	display: block;
	content: "";
	width: $toc-cover-width--shim;
	z-index: z('layer-up');
	pointer-events: none;
	@include toc-fill-figure;
	@include breakpoint($size-breakpoint-s){ display: none; }
}


.table-of-contents {
	ul {
		@include center-block($size-breakpoint-xxl);
		padding: 0;
		position: relative;
		&::after {
			@include toc-cover-dimensions;
			filter: drop-shadow(1px 0 0 rgba($color-foreground, $opacity-least));
			background-image: inline_svg("components/mask-jagged-triangles.svg", ( fillcolor: #{$color-background} ));
			background-size: 100%;
		}
	}
	li {
		display: block;
		list-style: none;
		width: 100%;
		overflow: hidden;
		position: relative;
		& > a {
			display: table;
			width: 100%;
			text-decoration: none;
			padding: $size-column--safety * 3 0 $size-content-block-spacing $size-column--safety;
			@include breakpoint($size-breakpoint-s){
				& .toc-summary { width: 100%; }
				width: calc(100% - #{$size-column--safety});
			}
			#{$tap-this}::after {
				@include toc-cover-dimensions;
				z-index: z('layer-up') + 1;
				background: rgba($color-background--highlight, $opacity-most);
			}
			&::before {
				display: block;
				content: "";
				z-index: z('layer-up') + 1;
				@include toc-fill-figure;
				top: initial;
				height: 1px;
				width: 100%;
				
				pointer-events: none;
				background: rgba($color-foreground, $opacity-least/2);
			}
			#{$tap-this}::before { visibility: hidden; }
		}
		& .toc-summary {
			display: table-cell;
			vertical-align: bottom;
			padding: 0 $size-column--safety 0 0;
			& > figure {
				float: left;
				width: $toc-summary-figure--width;
				height: $toc-summary-figure--height;
				margin: 0 $size-content-block-spacing $size-content-block-spacing / 2 0;
				overflow: hidden;
				& > img {
					height: 120%;
					width: auto;
					margin-left: -50%;
				}	
			}
			& > div {
				float: left;
				@include breakpoint($size-breakpoint-s){ float: none; display: inline; }
				width: calc(100% - #{$toc-summary-figure--width + $size-content-block-spacing});
			}
			& #{A(2)} {
				padding: 0;
				margin-top: -.25em;
			}
			& p {
				@extend #{A(4)};
				display: block;
				margin: 0;
				max-width: $size-column--maxwidth-l;
				line-height: #{$font-content--line * strip-unit($size-fontbase--smaller)};
				&::before { height: #{$size-fontbase--normal / strip-unit($size-fontbase--smaller)}; }
				&::after { display: none; }
			}
			& small {
				float: left;
				strong {
					@extend #{A(3)};
					color: $color-brand;
				}
				em {
					font-variant: normal;
				}
			}
		}
		& .toc-cover {
			display: table-cell;
			@include breakpoint($size-breakpoint-s){ display: none; }
			width: $toc-cover-width;
			position: relative;
			div {
				background-size: cover;
				background-position: center;
				position: absolute;
				top: -#{$size-column--safety * 3};
				width: 100%;
				bottom: -#{$size-content-block-spacing};
			}
		}
		&.feature {
			& > a {
				padding: 0;
				margin: 0;
				z-index: z('layer-up') + 1;
				position: relative;
				width: 100%;
				#{$tap-this} {
					& .toc-summary { background: $color-background--highlight; }
					&::after { display: none; }
				}
				&::before { display: none; }
			}
			& .toc-summary {
				padding: 0 0 $size-column--safety;
				border-bottom: 1px solid rgba($color-foreground, $opacity-least/2);
				background: $color-background;
				& > figure {
					float: none;
					width: calc(100%);
					margin: 0;
					overflow: visible;
					height: auto;
					padding-bottom: $size-column--safety;
					& > img {
						height: auto;
						width: 100%;
						margin: 0;
					}
				}
				& > div {
					display: block;
					@include figure-figcaption;
					@include figure-figcaption--feature;
					$toc-figcaption-padding: #{$figcaption-padding * strip-unit($size-fontbase--smaller)};
					width: calc(100% - #{$toc-figcaption-padding} * 2);
					padding: 0 $toc-figcaption-padding $toc-figcaption-padding $toc-figcaption-padding;
					
					border-bottom: #{$size-fontbase--normal/2 * strip-unit($size-fontbase--smaller)} solid;
					float: none;
					small { float: none; }
				}
			}
			& .toc-cover { display: none; }
		}
	}
}